body{
   
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3rem;
    color: black;
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    border-radius: 250px;
    background-color: aqua;
}
.choices button:hover{
    background-color: blue;
    cursor: pointer;
}
#playscore,#compscore{
    font-size: 2.5rem;
}
#result{
    font-size: 5rem;
    margin: 30px;
}
.scoredisplay{
    font-size: 2rem;
}
.greentext,#pscore{
    color: rgb(43, 128, 0);
}
.redtext,#cscore{
    color: rgba(255, 0, 0, 0.868);}